<!DOCTYPE html>
<html>

<head>
  <title>Aftop</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/css/uikit.min.css" />
  <!-- UIkit JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit-icons.min.js"></script>
  <!-- fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Reenie+Beanie" />
  <!-- jQuery throttle-debounce -->
  <script src="https://cdn.jsdelivr.net/gh/cowboy/jquery-throttle-debounce/jquery.ba-throttle-debounce.js" defer></script>
  <!-- font-awesome -->
  <!-- <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet"> -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <!-- sanitize.css https://unpkg.com/sanitize.css -->
  <link href="https://cdn.jsdelivr.net/gh/csstools/sanitize.css@latest/sanitize.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/main.css" />
  <!-- modenizr -->
  <script src="/js/modenizr.js" defer></script>
  <!-- numeral.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
  <!-- money.js -->
  <script src="https://cdn.jsdelivr.net/gh/openexchangerates/money.js@latest/money.min.js"></script>
  <link href="https://vjs.zencdn.net/7.8.2/video-js.min.css" rel="stylesheet" />
  <script src="https://vjs.zencdn.net/7.8.2/video.min.js"></script>
  <script src="//cdn.sc.gl/videojs-hotkeys/0.2/videojs.hotkeys.min.js" defer></script>
  <!-- main CSS -->
  <link rel="stylesheet" href="/css/main.css" />

  <!-- City -->
  <link href="https://unpkg.com/@videojs/themes@1/dist/city/index.css" rel="stylesheet" />

  <!-- Fantasy -->
  <link href="https://unpkg.com/@videojs/themes@1/dist/fantasy/index.css" rel="stylesheet" />

  <!-- Forest -->
  <link href="https://unpkg.com/@videojs/themes@1/dist/forest/index.css" rel="stylesheet" />

  <!-- Sea -->
  <link href="https://unpkg.com/@videojs/themes@1/dist/sea/index.css" rel="stylesheet" />
  <style></style>
</head>

<body class="uk-container-large uk-margin-auto uk-position-relative">
  <header uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-box-shadow-small; cls-inactive: uk-position-z-index; top: section">
    <div class="uk-navbar-container bg-white">
      <nav class="uk-navbar uk-width-1-1" uk-navbar="mode: click">
        <div class="uk-navbar-left">
          <ul class="uk-navbar-nav uk-text-bold">
            <li class="uk-active"><a href="#">Logo</a></li>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="#toggle-animation" uk-toggle="target: #toggle-animation; animation: uk-animation-fade">Categories</a>
            </li>
          </ul>
        </div>
        <div class="uk-navbar-right">
          <ul class="uk-navbar-nav uk-text-bold uk-hidden@s">
            <li class="uk-margin-small-right">
              <div class="uk-flex uk-flex-middle">
                <button class="" type="button" uk-icon="icon: menu; ratio: 1.5" uk-toggle="target: #offcanvas-slide"></button>
              </div>
              <div id="offcanvas-slide" class="" uk-offcanvas="overlay: true; flip: true;">
                <div class="uk-offcanvas-bar uk-flex uk-flex-column">
                  <button class="uk-offcanvas-close uk-close-large" type="button" uk-close></button>
                  <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical uk-padding uk-text-left">
                    <li class=""><a href="#">Movies</a></li>
                    <li class=""><a href="#">Series</a></li>
                    <li class=""><a href="#">Share</a></li>
                    <li class=""><a href="#">Feedback</a></li>
                    <li class=""><a href="#">Terms &amp; Policies</a></li>
                    <li class=""><a href="#">Sign Out</a></li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <div id="toggle-animation" class="" style="border-top: 1px solid #e0e0e0;" hidden>
        <div class="uk-container">
          <div class="uk-tile uk-padding-small">
            <div class="uk-position-relative" uk-slider="finite: true">
              <div class="uk-position-relative uk-slider-container uk-visible-toggle" tabindex="-1">
                <ul class="uk-slider-items uk-grid-small uk-grid">
                  <li>
                    <a href="/category/latest">
                      <button class="uk-button uk-button-default uk-border-rounded">
                        Latest
                      </button>
                    </a>
                  </li>
                  <li>
                    <a href="/category/action">
                      <button class="uk-button uk-button-default uk-border-rounded">
                        Action
                        <span class="uk-badge" style="vertical-align: unset;"><small>0</small></span>
                      </button>
                    </a>
                  </li>
                  <li>
                    <a href="/category/animation">
                      <button class="uk-button uk-button-default uk-border-rounded">
                        Animation
                        <span class="uk-badge" style="vertical-align: unset;"><small>0</small></span>
                      </button>
                    </a>
                  </li>
                  <li>
                    <a href="/category/comedy">
                      <button class="uk-button uk-button-default uk-border-rounded">
                        Comedy
                        <span class="uk-badge" style="vertical-align: unset;"><small>0</small></span>
                      </button>
                    </a>
                  </li>
                  <li>
                    <a href="/category/crime">
                      <button class="uk-button uk-button-default uk-border-rounded">
                        Crime
                      </button>
                    </a>
                  </li>
                  <li>
                    <a href="/category/drama">
                      <button class="uk-button uk-button-default uk-border-rounded">
                        Drama
                      </button>
                    </a>
                  </li>
                  <li>
                    <a href="/category/historical">
                      <button class="uk-button uk-button-default uk-border-rounded">
                        Historical
                      </button>
                    </a>
                  </li>
                  <li>
                    <a href="/category/fantasy">
                      <button class="uk-button uk-button-default uk-border-rounded">
                        Fantasy
                      </button>
                    </a>
                  </li>
                  <li>
                    <a href="/category/horror">
                      <button class="uk-button uk-button-default uk-border-rounded">
                        Horror
                      </button>
                    </a>
                  </li>
                  <li>
                    <a href="/category/romance">
                      <button class="uk-button uk-button-default uk-border-rounded">
                        Romance
                      </button>
                    </a>
                  </li>
                  <!-- <li>
                    <a href="/category/science Fiction">
                      <button class="uk-button uk-button-default uk-border-rounded">
                        Science Fiction
                        <span class="uk-badge" style="vertical-align: unset;"><small>0</small></span>
                      </button>
                    </a>
                  </li> -->
                  <li>
                    <a href="/category/thriller">
                      <button class="uk-button uk-button-default uk-border-rounded">
                        Thriller
                      </button>
                    </a>
                  </li>
                  <li>
                    <a href="/category/western">
                      <button class="uk-button uk-button-default uk-border-rounded">
                        Western
                      </button>
                    </a>
                  </li>
                </ul>
              </div>
              <a class="uk-position-center-left-out uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
              <a class="uk-position-center-right-out uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main id="content">
    <section class="uk-position-relative">
      <div class="uk-width-1-1">
        <video id="video-view" data-setup="{}" loop autoplay playsinline preload="auto" controls class="uk-display-block aftop-height-max-large uk-margin-auto video-js vjs-theme-forest">
          <source src="https://firebasestorage.googleapis.com/v0/b/flix-10157.appspot.com/o/trailers%2F<%= video[0].file_name %>?alt=media&token=<%= video[0].tokens %>">
          </source>
          <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a
            web browser that
            <a href="https://videojs.com/html5-video-support/" target="_blank">
              supports HTML5 video
            </a>
          </p>
        </video>
      </div>
    </section>
    <section class="uk-section-small uk-section-default">
      <div class="uk-container uk-margin-auto uk-child-width-1-2" uk-grid>
        <button class="uk-button uk-button-default">Trailer</button>
        <button id="full_movie" class="uk-button uk-button-default">Full Movie</button>
        <button style="display:none;" id="pay" class="uk-button uk-button-default" uk-toggle="target: #bundle-modal">Payment</button>
      </div>
    </section>
    <section class="uk-section-small uk-section-default">
      <div class="uk-container">
        <div>
          <h4 class="uk-h4 uk-text-bold">Comments</h4>
        </div>
        <div class="uk-margin">
          <input class="uk-input" type="text" placeholder="Add Comment" />
        </div>
        <div class="uk-padding uk-padding-remove-bottom">
          <div>
            <h5 class="uk-h5">John Mwaka &bull; 1 month ago</h5>
            <p>Gvsbv davkdjbvka</p>
            <div class="">
              <span class="uk-margin-right">
                <a class="fa fa-2x fa-thumbs-o-up uk-link-reset"></a>
                <span class="uk-badge"><small>0</small></span>
              </span>
              <span class="uk-margin-right">
                <a class="fa fa-2x fa-thumbs-down uk-link-reset"></a>
                <span class="uk-badge"><small>1</small></span>
              </span>
              <span class="uk-margin-right">
                <a class="fa fa-2x fa-comment uk-link-reset"></a>
                <span class="uk-badge"><small>1</small></span>
              </span>
            </div>
            <p>
              <a class="uk-link-muted">1 reply</a>
            </p>
            <hr />
          </div>
          <div>
            <h5 class="uk-h5">John Mwaka &bull; 1 month ago</h5>
            <p>Gvsbv davkdjbvka</p>
            <div class="">
              <span class="uk-margin-right">
                <a class="fa fa-2x fa-thumbs-o-up uk-link-reset"></a>
                <span class="uk-badge"><small>0</small></span>
              </span>
              <span class="uk-margin-right">
                <a class="fa fa-2x fa-thumbs-down uk-link-reset"></a>
                <span class="uk-badge"><small>1</small></span>
              </span>
              <span class="uk-margin-right">
                <a class="fa fa-2x fa-comment uk-link-reset"></a>
                <span class="uk-badge"><small>1</small></span>
              </span>
            </div>
            <p>
              <a class="uk-link-muted">1 reply</a>
            </p>
            <hr />
          </div>
        </div>
      </div>
    </section>
    <section class="uk-section uk-section-default">
      <div class="uk-container">
        <div>
          <h4 class="uk-h4 uk-text-bold">Related videos</h4>
        </div>
        <div uk-slider="finite: true;">
          <div class="uk-position-relative uk-visible-toggle uk-dark" tabindex="-1">
            <div class="uk-slider-container uk-background-default">
              <ul class="uk-slider-items uk-grid-small uk-margin" uk-grid>
                <% similar_video.forEach(function(video){ %>
                <li>
                  <a href="/view/<%= video.video_id %>">
                    <div class="uk-card uk-card-default uk-border-rounded uk-card-hover">
                      <div class="uk-cover-container uk-border-top-rounded slider-movie-art">
                        <img class="" src="https://firebasestorage.googleapis.com/v0/b/flix-10157.appspot.com/o/covers%2F<%= video.file_name %>?alt=media&token=<%= video.tokens %>" uk-cover />
                      </div>
                      <div class="uk-padding-small">
                        <h6 class="uk-h6 uk-margin-remove uk-text-center">
                          <%= video.name %>
                        </h6>
                      </div>
                    </div>
                  </a>
                </li>
                <% }) %>
              </ul>
            </div>
            <a class="uk-position-center-left-out" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right-out" href="#" uk-slidenav-next uk-slider-item="next"></a>
          </div>
        </div>
      </div>
    </section>


    <div id="signin-modal" class="uk-flex-top" uk-modal>
      <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical uk-border-rounded">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div>
          <form id="signin_form">
            <legend class="uk-legend">Sign In</legend>
            <div class="uk-margin">
              <input class="uk-input" required type="text" id="email" placeholder="Email" />
            </div>
            <div class="uk-margin">
              <input class="uk-input" required type="password" id="password" placeholder="Password" />
            </div>
            <div class="uk-margin uk-text-right">
              <button type="submit" class="uk-button uk-button-default uk-border-rounded">
                Sign In
              </button>
            </div>
          </form>
          <p class="uk-text-center">
            Don't have an account?
            <span class="uk-text-primary" uk-toggle="target: #signup-modal">
              <a class="uk-link-reset">Sign Up</a>
            </span>
          </p>
        </div>
      </div>
    </div>
    <div id="signup-modal" class="uk-flex-top" uk-modal>
      <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical uk-border-rounded">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div>
          <form id="signup_form">
            <legend class="uk-legend">Sign Up</legend>
            <div class="uk-margin">
              <input class="uk-input" type="text" id="email_s" placeholder="Email" />
            </div>
            <div class="uk-margin">
              <input class="uk-input" type="password" id="password_s" placeholder="Password" />
            </div>
            <div class="uk-margin uk-text-right">
              <button type="submit" class="uk-button uk-button-default uk-border-rounded">
                Sign Up
              </button>
            </div>
          </form>
          <p class="uk-text-center">
            Have an account?
            <span class="uk-text-primary" uk-toggle="target: #signin-modal">
              <a class="uk-link-reset">Sign In</a>
            </span>
          </p>
        </div>
      </div>
    </div>

    <button style="display: none" type="button" name="button" id='toggle' uk-toggle='target: #signin-modal'>fasfd</button>
    <input type="hidden" id="movie_name" value="<%= video[0].movie_video %>">

    <div id="bundle-modal" class="uk-flex-top" uk-modal>
      <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical uk-border-rounded">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-text-center">
          <form>
            <legend class="uk-legend">Choose Bundle</legend>
            <div class="uk-margin">
              <button type="button" class="uk-button uk-button-default uk-border-rounded" uk-toggle="target: #payment-modal">
                Kwanza
              </button>
            </div>
            <div class="uk-margin">
              <button type="button" class="uk-button uk-button-default uk-border-rounded" uk-toggle="target: #payment-modal">
                Kati
              </button>
            </div>
            <div class="uk-margin">
              <button type="button" class="uk-button uk-button-default uk-border-rounded" uk-toggle="target: #payment-modal">
                Mwisho
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div id="payment-modal" class="uk-flex-top" uk-modal>
      <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical uk-border-rounded">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-text-center">
          <form>
            <legend class="uk-legend">Choose Bundle</legend>
            <div class="uk-margin">
              <button type="button" class="uk-button uk-button-default uk-border-rounded" uk-toggle="target: #payment-modal-number">
                <img src="/media/airtel-money.png" style="height: 60px;" /> Airtel
                Money
              </button>
            </div>
            <div class="uk-margin">
              <button type="button" class="uk-button uk-button-default uk-border-rounded" uk-toggle="target: #payment-modal-number">
                <img src="/media/tigo-pesa.png" style="height: 30px;" /> Tigo Pesa
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div id="payment-modal-number" class="uk-flex-top" uk-modal>
      <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical uk-border-rounded">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-text-center">
          <form>
            <legend class="uk-legend">Phone Number</legend>
            <div class="uk-margin">
              <input class="uk-input" type="number" id="pay_phone" placeholder="Phone Number" />
            </div>
            <div class="uk-margin uk-text-right">
              <button type="submit" class="uk-button uk-button-default uk-border-rounded">
                Pay
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
  <script>
    $(document).ready(function() {
      videojs('video-view').ready(function() {
        this.hotkeys({
          volumeStep: 0.1,
          seekStep: 5,
          enableModifiersForNumbers: false
        });
      });
    });

    $('#full_movie').on('click', function() {
      var movie_url = document.getElementById('movie_name').value;
      var movie_name = movie_url.split('/');

      fetch('/watch_movie/' + movie_name[1], {
          method: 'get',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify()
        }).then(response => response.text())
        .then(response => checkError(response));

    });

    $('#signin_form').on('submit', function(e) {
      e.preventDefault();
      var password = document.getElementById('password').value
      var email = document.getElementById('email').value

      signin(password, email);
    });

    $('#signup_form').on('submit', function(e) {
      e.preventDefault();
      var password = document.getElementById('password_s').value
      var email = document.getElementById('email_s').value

      signup(password, email);
    });

    function signin(password, email) {
      fetch('/signin', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            user: {
              password: password,
              email: email
            }
          })
        }).then(response => response.text())
        .then(response => checkError(response));
    }

    function signup(password, email) {
      fetch('/signup', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            user: {
              password: password,
              email: email
            }
          })
        }).then(response => response.text())
        .then(response => checkError(response));
    }


    function checkError(response) {

      switch (response) {
        case 'not signin':
          $('#toggle').click();
          break;
        case 'Wrong password':
          alert('Wrong password.');
          break;
        case 'no user':
          alert('User not registerd.');
          break;
        case 'success':
          $('#signin-modal').hide();
          break;
        case 'user created':
          alert('Welcome to Aftop.');
          $('#signup-modal').hide();
          break;
        case 'user exists':
          alert('User exists.');
          break;
        case 'user error':
          alert('Please try again later.');
          break;
        case 'not_subscribed':
          $('#signin-modal').hide();
          $('#pay').click();
          break;
        default:

      }

    }
  </script>
</body>

</html>
